body {
  height: 100vh;
  margin: auto;
}

img {
  // height: 100%;
  // width: 100%;
  // object-fit: contain;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.title {
  font-size: 2rem;
  text-align: left;
}

